.seccion-detalles-peliculas {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
  }
  
  .seccion-detalles-peliculas h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
